.button{
    margin: 1em;
    padding:0.5em;
    font-size: 25px;
    background-color: #725AC1;
    border-style: solid;
    border-color:#725AC1;
    border-radius: 0.5em;
    color: #242038;
    display: block;
    transition: 0.2s;

}
.rulesButton{
  margin-left: 54em;
  padding:0.5em;
  font-size: 25px;
  background-color: #725AC1;
  border-style: solid;
  border-color:#725AC1;
  border-radius: 0.5em;
  color: #242038;
  display: block;
  transition: 0.2s;

}
:root{
    background-color: #242038;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.outer{
    background-color: #333333;
    width: 20vw;
    height: 10px;
  border-radius: 0.5em;

  
    border-style: none;

}
.inside{
  border-radius: 0.5em;
    height: 10px;
  background-color: #8D86C9;



}
.inside2{

    height: 10px;
  background-color: #86A59C;



}
.text{
  display: block;
  background-color: #CAC4CE;
  color: #242038;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  
}
.rulesText {
  display: block;
  background-color: #333333;
  color: #CAC4CE;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  position: relative; /* or absolute, or fixed */
  z-index: 2000;
  font-size: 1.5em;
}

.center{
  display: flex;
  justify-content: center;
}
.hidden{
  display: none;
}
.number{
  padding: -1em;
}
.log{
  padding: 1em;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 0.5em;
  color: #242038;
  background-color: #CAC4CE;
  border-radius: 0.5em;
  font-size: 1em;
  
}
.leaveButton{

  padding:0.25em;
  font-size: 1.5em;
  background-color: #725AC1;
  border-style: solid;
  border-color:#725AC1;
  border-radius: 0.5em;
  color: #242038;
  transition: 0.2s;
  margin: 0.5em;


}
.buttonBlock{
  display: block;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color:transparent;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000; /* Ensure the bar stays on top of other content */
}

.top-bar-button {
  display: inline-block;
  margin: 0 10px; /* Add margin between buttons */
  padding: 5px 10px; /* Add padding to buttons */
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding-top: 30px; /* Adjust padding-top to make space for the fixed top bar */
}


.top-bar-button {
  margin: 0 10px; /* Add margin between buttons */
  padding: 5px 10px; /* Add padding to buttons */
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding-top: 17em; /* Adjust padding-top to make space for the fixed top bar */
}
.button:hover{
  background-color: #8871d5;
  font-size: 1.75em;
  border-color:#8871d5 ;
}
.leaveButton:hover{
  background-color: #8871d5;
  font-size: 1.75em;
  border-color:#8871d5 ;

}
.button.button:click{
  font-size: 1.5em;
  background-color: #725AC1;
  border-color: #725AC1;
}




